{% extends 'base.html' %}
{% block title %}Записи сообщества {{ group.title }}{% endblock %}
{% block header %}
    {{ group.title }}
{% endblock %}
{% block content %}

    <div class="container py-4" >
        <!-- Отображение названия группы -->
        <h3>{{ group.description }}
            <a class="card-link muted" href="{% url 'group' group.slug %}">
                <strong class="text-gray-dark">#{{ group.title }}</strong>
            </a>
        </h3>

        <!-- Отображения поста данного сообщества -->
        {% for post in page %}
            {% include "post_item.html" with post=post %}
        {% endfor %}

    </div>

    <!-- Вывод паджинатора -->
    {% if page.has_other_pages %}
        {% include 'paginator.html' with items=page paginator=paginator %}
    {% endif %}

{% endblock %}
