{% if user.is_authenticated %}
    <div class="container-fluid py-1 bg-white d-flex justify-content-center sticky-top">
        <ul class="nav nav-underline mb-3 n">
            <li>
                <a class="nav-link fs-5 {% if index %}active{% endif %}" href="{% url 'index' %}" style="border-bottom-width: 3px;">Все авторы</a>
            </li>
            <li>
                <a class="nav-link fs-5 {% if follow %}active{% endif %}" href="{% url 'follow_index' %}" style="border-bottom-width: 3px;">Подписки</a>
            </li>
        </ul>
    </div>
{% endif %}